infrastructure/workflows/example-leads-processor.json
{
  "name": "Leads Processor",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "leads-webhook"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "leads",
        "columns": "name, source, message_summary, status, priority, next_action",
        "additionalFields": {
          "mode": "independently"
        }
      },
      "id": "postgres",
      "name": "Insert Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        450,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this lead and summarize key information:\nName: {{ $json.name }}\nSource: {{ $json.source }}\nMessage: {{ $json.message_summary }}\n\nProvide:\n1. Conversion likelihood (0-100)\n2. AI summary of opportunity\n3. Recommended next action",
        "model": "gpt-4",
        "options": {}
      },
      "id": "openai",
      "name": "AI Analysis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        650,
        300
      ],
      "disabled": true,
      "notes": "Requires OpenAI API key"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "requestMethod": "POST",
        "url": "=http://{{ $env.N8N_HOST }}/webhook/leads",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "notify",
      "name": "Notify Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        300
      ],
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Insert Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Lead": {
      "main": [
        [
          {
            "node": "AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis": {
      "main": [
        [
          {
            "node": "Notify Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "nescka-instance"
  },
  "id": "leads-processor",
  "tags": []
}

